<%- include("../partials/header") %>

<main class="register-wrapper">

  <!-- Page Title -->
  <h1><%= title %></h1>

  <!-- Flash Messages -->
  <%- messages() %>

  <form action="/account/register" method="post" class="register-form">

    <!-- FIRST NAME -->
    <label for="firstname">First name</label>
    <input 
      type="text" 
      id="firstname" 
      name="firstname" 
      required 
      value="<%= typeof firstname != 'undefined' ? firstname : '' %>"
    />

    <!-- LAST NAME -->
    <label for="lastname">Last name</label>
    <input 
      type="text" 
      id="lastname" 
      name="lastname" 
      required 
      value="<%= typeof lastname != 'undefined' ? lastname : '' %>"
    />

    <!-- EMAIL -->
    <label for="email">Email address</label>
    <input 
      type="email" 
      id="email" 
      name="email" 
      required 
      value="<%= typeof email != 'undefined' ? email : '' %>"
    />

    <!-- PASSWORD -->
    <label for="password">Password</label>
    <input 
      type="password" 
      id="password" 
      name="password" 
      required
    />

    <!-- Password rules text -->
    <p class="password-rules">
      Password must be at least 12 characters long, 
      include 1 capital letter, 1 number, 
      and 1 special character.
    </p>

    <!-- Show Password Button -->
    <button type="button" id="toggle-password">Show Password</button>

    <!-- Submit Button -->
    <button type="submit" class="submit-btn">Register</button>

  </form>

</main>

<script src="/js/togglePassword.js"></script>